// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.player--active {
    background-color: #0C9A9A;
}

.card {
    width: 200px;
    height: 300px;
    background-color: brown;
    margin: 5px;
}
.card--picked {
    background-color: grey;
}
